.step-content {
  max-width: 500px;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* Изменено на space-between */
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.progress-bar__step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.progress-bar__step.active {
  background-color: #d68cd3;
  transition-delay: 0.25s;
}

.progress-bar__connector {
  flex-grow: 1;
  /* Добавлено для занимания пространства между кружочками */
  height: 3px;
  margin-right: 10px;
  background-image: linear-gradient(to right, #d68cd3 0%, #d68cd3 50%, #ccc 50%, #ccc 100%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.3s ease;
}

.progress-bar__connector.active {
  background-position: left;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.navigation-btn.std,
.navigation-btn.nstd {
  padding: 10px;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin: 0 5px;
  transition: 0.5s;
}

.navigation-btn.std {
  background: #d68cd3;
  color: #ffffff;
}

.navigation-btn.nstd {
  background: none;
  border: 2px solid #d68cd3;
  color: #d68cd3;
}

.navigation-btn.std:hover {
  background-color: #eba1e8;
  color: #f7cffe;
}

.navigation-btn.nstd:hover {
  background: none;
  border: 2px solid #eba1e8;
  color: #f7cffe;
}

.step-check {
  display: inline-block;
  position: relative;
}

.step-number,
.check-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number {
  z-index: 1;
}

.check-icon {
  color: #d68cd3;
  /* Измените цвет на желаемый */
}

.step-check .hide {
  opacity: 1;
}

.step-check .show {
  opacity: 1;
}
