.step-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* @media screen and (max-width: 425px) {
    .step-list {
        margin: 0;
        padding: 0;
    }
} */