/* .cards {
    margin: 80px auto;
    max-width: 960px;
}

.card {
    background: #FDF3FF;
    border: none;
    border-radius: 15px;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    position: relative;
    text-align: left;
    width: 300px;
    transition: margin 0.25s, border-radius 0.8s, transform 0.25s;

}

.card-image {
    display: block;
    margin: 0 auto;
}

.card-title {
    position: relative;
    text-align: center;
}

.card-title .title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #5D3D63;
}

.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #835B8A;
    background-color: #FDF3FF;
    border-radius: 0 0 15px 15px;
}

.card-flap {
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: all 0.3s ease-out;
}

.card.show {
    margin: 12px;
    transform: scale(1.05);
    border-radius: 15px 15px 0 0;
    transition: all 0.4s ease-in-out;
    transition: margin 0.5s, border-radius 1s, transform 1s; 
    transition: all 0.2s ease-in-out;
}

.card.show .card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
} */