.security-list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    color: #92669A;
    list-style: none;
}

.security-list-item::before {
    content: '\2022';
    font-size: 38px;
    line-height: 1;
    margin-right: 10px;
}

@media screen and (max-width: 426px) {
    .security-list-item {
        margin: 15px auto;
        text-align: center;
        flex-direction: column;
    }

    .security-list-item::before {
        content: '';
        margin: 0;
    }
}