.content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.content h2,
.content h4 {
  color: #764b7d;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
}

.content h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.loginForm {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginForm .input-container label {
  display: block;
  line-height: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
.loginForm .input-container input {
  width: 400px;
  padding: 10px;
  gap: 10px;

  height: 35px;
  border: 1px solid #979797;
  border-radius: 15px;
  outline-color: #d68cd3;
  color: #764b7d;
}

.loginForm .input-container .loginStatus {
  width: 400px;
  padding: 10px;
  gap: 10px;

  height: 35px;

  color: #764b7d;
}

.content .loginForm .loginButton {
  border-radius: 15px;
  background-color: #d68cd3;
  color: white;
  font-size: 18px;
  width: 450px;
  max-width: 420px;
  height: 60px;
  transition: 0.5s;
}

.content .loginForm .loginButton:hover {
  background-color: #eba1e8;
  color: #f7cffe;
}
