.content h2,
.content h4 {
  color: #764b7d;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.content h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.loginForm {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  justify-content: center;
  align-items: center;
}

.loginForm .input-container label {
  display: block;
  line-height: 15px;
  margin: 10px 0 5px 10px;
}

.loginForm .input-container {
  width: 100%;
}

.loginForm .input-container input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 15px;
  outline-color: #d68cd3;
  font-size: 14px;
  color: #764b7d;
}

.loginForm .loginStatus {
  word-break: break-word;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #764b7d;
}

.content .loginForm .loginButton {
  border-radius: 15px;
  background-color: #d68cd3;
  color: white;
  padding: 10px;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin: 0 5px;
  margin-top: 0px;
  transition: 0.5s;
}

.content .loginForm .loginButton:hover {
  background-color: #eba1e8;
  color: #f7cffe;
}
