.contacts-page {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 40px 30px;
}

.contacts-page .info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  max-width: 45vw;
  /* max-width: 30vw; */
}

.contacts-page .info .title,
.contacts-page .info .descr {
  color: #5d3d63;
}

.contacts-page .info .title {
  font-weight: 600;
  font-size: 32px;
}

.contacts-page .info .descr {
  font-weight: 400;
  font-size: 24px;
}

@media screen and (max-width: 1023px) {
  .contacts-page .info {
    padding: 10px;
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 655px) {
  .contacts-page {
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  .contacts-page .info .title {
    font-size: 24px;
  }

  .contacts-page .info .descr {
    font-size: 16px;
  }
}
