$main-color: #FDF3FF; // main color for backgrounds

$btn-color-default: #E8B8F0; // default state button color
$btn-color-hoover: #F7CAFF; // hoover state button color
$btn-color-clicked: #E0A6EA; // clicked state button color
$btn-text-default: #764B7D; // text color for default and clicked button state
$btn-text-hoover: #926799; // text color for hoover button state