.contacts-list {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    /* min-width: 30vh; */
}

/* @media screen and (max-width: 1023px) {
    .contacts-list {
        max-width: 100%;
    }
} */



/* @media screen and (max-width: 536px) {
    .contacts-list {
        max-width: 40vh;
    }
} */

@media screen and (max-width: 426px) {
    .contacts-list {
        transform: scale(0.8);
    }
}